@{
    ViewBag.Title = "Index";
}

<h2>Venues Index</h2>
<div>
    @CustomHtml.VenueNavPill(this)
</div>
<p>
    <span>You can search venues.</span>
</p>
<p>
    <span>You can Add venues.</span>
</p>
<p>
    <span>You can see all the venues.</span>
</p>