<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Drynks Web API!</h1>
                <h2>Contact Administrator for details</h2>
            </hgroup>
        </div>
    </section>
</div>
